* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

input {
  min-height: 30px;
}

input[type='text'], 
input[type='password'] {
  width: 200px;
}

button {
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  padding: 4px;
  background-color: #3377AA;
  color: white;
}

button:hover {
  color: lime;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: max-content;
  border: 1px solid #3377AA;
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

.Form-field {
  padding: 2px;
  margin: 5px;
}

.Form-password {
  position: relative;
}

.Form-remember {
  align-self: flex-start;
}

.remember {
  margin: 0 5px;
  position: relative;
  top: 9px;
  transform: scale(1.25);
  align-self: flex-start;
}

.Form-text {
  margin-top: 5vh;
}

.Form-hint {
  font-weight: 900;
  color:#3377AA;
  cursor: pointer;
}

.icon-eye {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 24px;
  z-index: 1;
  margin: 2px;
}

.crimson {
  color: crimson;
}

.password {
  padding-right: 40px;
}

.Auth-button {
  display: flex;
}

.Signup-button {
  display: flex;
  background-color: lightcoral;
}

