@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../webfonts/SourceSansPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../webfonts/SourceSansPro-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body, form, input, button {
  box-sizing: border-box;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: max(16px, 1vw);
}

body {
  overflow-y: hidden;
}

input[type='text'], 
input[type='password'],
select {
  width: 95%;
  color: #3377AA;
  background-color: whitesmoke;
  font-size: .9rem;
  min-height: 30px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0,0%,80%);
  padding: 2px 8px;
  outline: none;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
}

select {
  font-family: 'Source Sans Pro Bold';
  /*margin: 10px 2px;*/
}

button {
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  padding: 4px;
  background-color: #3377AA;
  color: whitesmoke;
  margin: 0 auto;
  outline: none;
}

button:hover {
  color: lime;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /*width: max-content;*/
  width: inherit;
  /*border: 1px solid #3377AA;*/
}

input:placeholder-shown {
  animation: none;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 2px;
  padding: 0;
}

::placeholder {
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
}

span.legacy {
  width: 95%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100vh;
}

.--with-background-image {
  background-image: url('../images/hotel.svg');
  background-origin: border-box;
  -webkit-background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgb(37, 170, 169);
}

.Form {
  color:  darkslategray; /*whitesmoke;*/
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 30vw;
  margin: 5px 2vw;

  font-size: max(16px, 1vw);
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
}

.Form-field {
  /*padding: 10px 2px;*/
  margin: 5px;
  width: 95%;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
}

.Form-password {
  position: relative;
}

.Form-text {
  margin-top: 5vh;
}

.Form-hint {
  color:#D72C25;
  cursor: pointer;
}

.icon-eye {
  position: absolute;
  top: 8px;
  right: 1.6vw;
  font-size: 24px;
  z-index: 1;
  margin: 2px;
  text-shadow: none;
  color: #3377AA;
}

.red {
  color: #D72C25 !important;
}

.blue {
  color: #3377AA !important;
}

.bold {
  font-family: 'Source Sans Pro Bold' !important;
}

.big {
  font-size: 1.5rem;
}

.centered-text {
  text-align: center;
}

.right-padded {
  padding-right: 40px !important;
}

.pulse {
  box-shadow: 0 0 0 0 rgba(215, 44, 37, 1);
	animation: pulse 1.3s infinite;
}

.staticPulse {
  box-shadow: 0 0 0 0 rgba(215, 44, 37, 1);
	animation: staticPulse 2s infinite;
}

.loading {
  width: 40px;
  height: 126px;
}

.altLoading {
  display: flex;
  width: 24px;
  height: 24px;
}

.rotateOut {
  animation-name: rotateOut;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center;
}

.rotate {
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.glow {
  animation: glow .8s infinite alternate;
}

.my-tippy {
  font-size: 10px !important;
}

@keyframes rotateOut {
  0% {
    opacity: 1;
  } to {
    transform: rotate(720deg) scale(.1);
    opacity: 0;
  }
}

@keyframes rotate { 
  0% {
    opacity: 1;
  } 
  50% {
    opacity: .5;
    transform:rotate(180deg); 
  } 
  100% {
    opacity: 1;
    transform:rotate(360deg); 
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(215, 44, 37, 0.7);
  }
	
	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(215, 44, 37, 0);
	}
	
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(215, 44, 37, 0);
	}
}

@keyframes staticPulse {
	0% {
		box-shadow: 0 0 0 0 rgba(215, 44, 37, 0.7);
  }
	
	70% {
		box-shadow: 0 0 0 6px rgba(215, 44, 37, 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgba(215, 44, 37, 0);
	}
}

@keyframes glow {
  to {
		text-shadow: 0 0 10px rgba(215, 44, 37, .8);
  }
}

@keyframes glowBlue {
  to {
    text-shadow: 0 0 3px rgba(51, 119, 170, .9);
    /*text-shadow: 0 0 14px rgba(79, 183, 183, .9);*/
  }	
}

@keyframes editing {
 0% {
   color: darkslategray;
 } to {
   color: #009500;
 }
}

/* Titlebar customization */
.titlebar {
  background-color: #25aaa9 !important;
}

.titlebar > .window-appicon {
  background-size: 24px !important;
}

.titlebar, .titlebar > * {
  font-family: 'Source Sans Pro Regular';
}

.window-title {
  font-family: 'Source Sans Pro Bold' !important;
  font-size: 16px !important;
  /*color: #EE3924 !important;*/
  color: darkgreen !important;
}

.menubar .menubar-menu-button {
  font-size: 16px !important;
}

.menubar-menu-container .action-label {
  font-size: 14px !important;
}

/* Container (after titlebar) customization - the body, kinda */
.container-after-titlebar {
  overflow: hidden !important;
  background-color: #9fd9d9 /*rgba(37, 170, 169, .44)*/ !important;
}

/* React Select customization via CSS classes */
div[class^='select-'] {
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  width: 95%;
  color: #3377AA;
  font-size: .9rem;
}

.select__control {
  background-color: whitesmoke !important;
}

.select__single-value {
  color: #3377AA !important;
  background-color: whitesmoke !important;
}


/* Scroll(bar) experiments */
#style-1 {
  scroll-behavior: smooth;
}

#style-1::selection {
  background: rgba(215, 44, 37, .6);
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 4px;
  background-color: #3377AA;
}

#style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #3377AA;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(215, 44, 37, .5);
}

.fixed-height {
  height: 44px;
}


/* MAIN VIEW */
.Main {
  align-self: stretch;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  min-width: 180px;
  width: 14vw;
  z-index: 1;
  background-color: rgba(79, 183, 183, .9);
  overflow-x: hidden;
  padding-top: 20px;
  position: relative;
}

.sidenav-container {
  margin-top: 40px;
}

.--active-menu {
  color: #009500 !important;
}

/* Style the sidenav links and the dropdown button */
.sidenav-a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: darkslategray;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: all .3s linear;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #009500;;
}

/* content */
.content {
  width: 100%;
  margin: 4px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 4px;
  color: darkslategray;
}

.user-settings {
  display: flex;
  justify-content: flex-end;
  /*color: #3377AA;*/
  color:#25AAA9;
  height: 56px;
}

.user-settings--menu {
  text-align: center;
  color: darkslategray;
}

.user-icon {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.--uicon {
  font-size: 2.5rem;
}


.user-settings--arrow {
  font-size: 30px;
  position: absolute;
  top: 22px;
  z-index: 1;
  right: 48px;
  opacity: 0;
  transition: all .2s linear;
  color: rgba(79, 183, 183, .9);
}


.--opened {
  right: 57px;
  opacity: 1;
}

.user-icon--big {
  font-size: 3rem;
}

.user-icon--big--container {
  display: flex;
  justify-content: center;
}

.user-settings--attribute {
  display: flex;
  padding: 0 6px;
  justify-content: flex-start;
  align-items: center;
}

.--attribute-icon {
  font-size: 1.2rem;
}

.--attribute-text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.menu-icon {
  font-size: 20px;
}

.menu-label {
  position: absolute;
  left: 45px;
}

hr.user-settings--separator {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(37, 170, 169, 1);
}

button.manage-user {
  border-radius: 16px;
  color: darkslategray;
  background-color: rgba(79, 183, 183, .9);
  border: 1px solid rgba(37, 170, 169, 1);
  outline: none;
}

button.manage-user:hover {
  color: #009500;
}

button.sign-out {
  border-radius: 16px;
  color: darkslategray;
  background-color: rgba(79, 183, 183, .9);
  border: 1px solid rgba(37, 170, 169, 1);
  outline: none;
}

button.sign-out:hover {
  color: #D72C25;
}

/* Component views */
.view {
  height: 90vh;
}

.view-user-settings {
  font-size: 18px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.-inline {
  display: inline;
}

.--settings-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(37, 170, 169, 1);
  margin-bottom: 2vh;
  width: 450px;
  height: 44px;
  position: relative;
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
}

.--settings-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.--settings-form > span {
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
  font-size: 18px;
}

input[type='text'].--settings-value,
input[type='password'].--settings-value,
.--settings-value {
  outline: none !important;
  border: none;
  display: flex;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  font-size: 18px;
  align-items: center;
  position: absolute;
  left: 92px;
  outline: none;
  width: 355px;
  height: 40px;
  padding: 4px;
  background-color: #9fd9d9;
  color: darkslategray;
}

.--value-editing {
  outline: none;
  text-decoration: none;
  color: #009500 !important;
}

input[type='text'].--value-editing:focus,
input[type='password'].--value-editing:focus,
.--value-editing:focus {
  border: 1px #009500 inset;
  border-radius: 4px;
}

.--settings-edit {
  position: absolute;
  left: 460px;
  font-size: 36px;
  transition: all .3s linear;
}

.--editing {
  animation: editing .75s infinite alternate;
}

.--settings-edit:hover {
  color: #009500;
}

.--settings-parola {
  padding-right: 40px !important;
}

.--settings-parola-icon {
  position: absolute;
  left: 412px;
  z-index: 4;
  font-size: 24px !important;
  color: darkslategray !important;
}

.--parola-is-visible {
  visibility: visible;
}

.--parola-is-invisible {
  visibility: hidden;
}

.--settings-loading {
  position: absolute;
  left: 520px;
  /*transition: all .3s linear;*/
}

.--settings-loading > img {
  width: 40px !important;
  height: 40px !important;
}

.--settings-loading > img::selection {
  background: transparent;
}

hr.view--separator {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(37, 170, 169, 1);
}

/* React Select customization via CSS classes */
div[class^='sel-'] {
  position: absolute;
  left: 85px;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  width: 360px;
  color: #009500;
  font-size: 18px;
  border: none;
}

div[class^='sel-'] > * {
  /*background-color:  rgb(37, 170, 169);*/
  background-color: #9fd9d9;
  border: none;
}

.sel__container > div[class$='-control'] {
  border: 1px #009500 inset !important;
  box-shadow: none;
}

.sel__control--is-focused {
  border: 1px #009500 inset !important;
  box-shadow: none !important;
}

.sel--is-disabled > div[class$='-control'] {
  border: none !important;
  box-shadow: none !important;
}

.sel__single-value {
  color: #009500 !important;
}

.sel__single-value--is-disabled {
  color: darkslategray !important;
}

.sel__menu * {
  color: darkslategray !important;
}

.sel__placeholder {
  color: #009500 !important;
}

.sel__indicator {
  transition: all .3s linear;
  color: darkslategray !important;
}

.sel__indicator-separator {
  background-color: rgba(37, 170, 169, 1) !important;
}

.sel__indicator:hover {
  color: #009500 !important;
}