@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../webfonts/SourceSansPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../webfonts/SourceSansPro-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body, form, input, button {
  box-sizing: border-box;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: max(16px, 1vw);
}

body {
  overflow-y: hidden;
}

:not(input)::selection,
input:disabled::selection {
  background: transparent;
}

input:enabled::selection,
textarea:enabled::selection {
  background: #25AAA9;
  color: lemonchiffon;
}


input[type='text'], 
input[type='password'],
select {
  width: 95%;
  color: #3377AA;
  background-color: whitesmoke;
  font-size: .9rem;
  min-height: 30px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(0,0%,80%);
  padding: 2px 8px;
  outline: none;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
}

select {
  font-family: 'Source Sans Pro Bold';
  /*margin: 10px 2px;*/
}

button {
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  padding: 4px;
  background-color: #3377AA;
  color: whitesmoke;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
}

.cancel-button {
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  padding: 4px;
  background-color: #D72C25;
  color: whitesmoke;
  margin: 0 auto;
  outline: none;
}

.cancel-button:hover {
  color: rgb(255, 195, 0);
}

.continue-button {
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  padding: 4px;
  background-color: #3377AA;
  color: whitesmoke;
  margin: 0 auto;
  outline: none;
}


button:hover {
  /* color: #EE3924CC; */
  color: lime;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /*width: max-content;*/
  width: inherit;
  /*border: 1px solid #3377AA;*/
}

input:placeholder-shown {
  animation: none;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 2px;
  padding: 0;
}

::placeholder {
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
}

span.legacy {
  width: 95%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100vh;
  position: relative; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!! UPDATED !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.--with-background-image {
  background-image: url('../images/hotel.svg');
  background-origin: border-box;
  -webkit-background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgb(37, 170, 169);
}

.Form, .Form-forgot {
  color:  darkslategray; /*whitesmoke;*/
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 30vw;
  margin: 5px 2vw;

  font-size: max(16px, 1vw);
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
}

.Form-field {
  /*padding: 10px 2px;*/
  margin: 5px;
  width: 95%;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;

  position: relative; /*!*/
}

.Form-password {
  position: relative;
}

.Form-text {
  margin-top: 5vh;
}

.Form-hint {
  color:#D72C25;
  cursor: pointer;
}

.icon-eye {
  position: absolute;
  top: 8px;
  right: 1.6vw;
  font-size: 24px;
  z-index: 1;
  margin: 2px;
  text-shadow: none;
  color: #3377AA;
}

.red {
  color: #D72C25 !important;
}

.blue {
  color: #3377AA !important;
}

.bold {
  font-family: 'Source Sans Pro Bold' !important;
}

.regular {
  font-family: 'Source Sans Pro Regular' !important;
}

.big {
  font-size: 1.5rem;
}

.centered-text {
  text-align: center;
}

.right-padded {
  padding-right: 40px !important;
}

.pulse {
  box-shadow: 0 0 0 0 rgba(215, 44, 37, 1);
	animation: pulse 1.3s infinite;
}

.staticPulse {
  box-shadow: 0 0 0 0 rgba(215, 44, 37, 1);
	animation: staticPulse 2s infinite;
}

.pulse-green {
  box-shadow: 0 0 0 0 rgba(0, 149, 0, 1);
	animation: staticPulseGreen 1.5s infinite;
}

.loading {
  width: 40px;
  height: 126px;
}

.altLoading {
  display: flex;
  width: 24px;
  height: 24px;
}

.rotateOut {
  animation-name: rotateOut;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center;
}

.rotate {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.glow {
  animation: glow .8s infinite alternate;
}

.glow-green {
  animation: glowGreen .8s infinite alternate;
}

.my-tippy {
  font-size: 10px !important;
}

@keyframes rotateOut {
  0% {
    opacity: 1;
  } to {
    transform: rotate(720deg) scale(.1);
    opacity: 0;
  }
}

@keyframes rotate { 
  0% {
    opacity: 1;
  } 
  50% {
    opacity: .5;
    transform:rotate(180deg); 
  } 
  100% {
    opacity: 1;
    transform:rotate(360deg); 
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(215, 44, 37, 0.7);
  }
	
	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(215, 44, 37, 0);
	}
	
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(215, 44, 37, 0);
	}
}

@keyframes staticPulse {
	0% {
		box-shadow: 0 0 0 0 rgba(215, 44, 37, 0.7);
  }
	
	70% {
		box-shadow: 0 0 0 6px rgba(215, 44, 37, 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgba(215, 44, 37, 0);
	}
}

@keyframes staticPulseGreen {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 149, 0, 0.7);
  }
	
	70% {
		box-shadow: 0 0 0 6px rgba(0, 149, 0, 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgba(0, 149, 0, 0);
	}
}


@keyframes glow {
  to {
		text-shadow: 0 0 10px rgba(215, 44, 37, .8);
  }
}

@keyframes glowGreen {
  to {
    color: #009500;
    /*text-shadow: 0 0 14px rgba(79, 183, 183, .9);*/
  }	
}

@keyframes editing {
 0% {
   color: darkslategray;
 } to {
   color: #009500;
 }
}

/* Titlebar customization */
.titlebar {
  background-color: #25aaa9 !important;
}

.titlebar > .window-appicon {
  background-size: 24px !important;
}

.titlebar, .titlebar > * {
  font-family: 'Source Sans Pro Regular';
}

.window-title {
  font-family: 'Source Sans Pro Bold' !important;
  font-size: 16px !important;
  /*color: #EE3924 !important;*/
  color: darkgreen !important;
}

.menubar .menubar-menu-button {
  font-size: 16px !important;
}

.menubar-menu-container .action-label {
  font-size: 14px !important;
}

/* Container (after titlebar) customization - the body, kinda */
.container-after-titlebar {
  overflow: hidden !important;
  background-color: #9fd9d9 /*rgba(37, 170, 169, .44)*/ !important;
}

/* React Select customization via CSS classes */
div[class^='select-'] {
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  width: 95%;
  color: #3377AA;
  font-size: .9rem;
}

.select__control {
  background-color: whitesmoke !important;
}

.select__single-value {
  color: #3377AA !important;
  background-color: whitesmoke !important;
}


/* Scroll(bar) experiments */
#style-1 {
  scroll-behavior: smooth;
}
/*
#style-1::selection {
  background: rgba(215, 44, 37, .6);
}
*/
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 4px;
  background-color: #3377AA;
}

#style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #3377AA;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(215, 44, 37, .5);
}

.fixed-height {
  height: 44px;
}


/* MAIN VIEW */
.Main {
  align-self: stretch;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  min-width: 180px;
  width: 14vw;
  z-index: 1;
  background-color: rgba(79, 183, 183, .9);
  overflow-x: hidden;
  padding-top: 50px;
  position: relative;
}

.sidenav-container {
  margin-top: 40px;
}

.sidenav-container .--active-menu {
  color: #009300;
  background-color: #9fd9d9;
}

.sidenav-a:hover {
  color: rgba(0, 149, 0, .7);
  background-color: rgba(159, 217, 217, .5);
}

.sidenav-a:hover .--solicitari-number {
  border: 2px solid transparent;
}

/* Style the sidenav links and the dropdown button */
.sidenav-a {
  padding: 6px 8px 6px 12px;
  text-decoration: none;
  font-size: 20px;
  color: darkslategray;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: color .2s linear;
  transition: background-color .2s linear;
}

/* content */
.content {
  width: 100%;
  margin: 4px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 4px;
  color: darkslategray;
}

.user-settings {
  display: flex;
  justify-content: flex-end;
  /*color: #3377AA;*/
  color:#25AAA9;
  height: 56px;
}

.user-settings--menu {
  text-align: center;
  color: darkslategray;
}

.user-icon {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.--uicon {
  font-size: 2.5rem;
}


.user-settings--arrow {
  font-size: 30px;
  position: absolute;
  top: 22px;
  z-index: 1;
  right: 48px;
  opacity: 0;
  transition: all .2s linear;
  color: rgba(79, 183, 183, .9);
}


.--opened {
  right: 57px;
  opacity: 1;
}

.user-icon--big {
  font-size: 2.5rem;
}

.user-icon--big--container {
  display: flex;
  justify-content: center;
}

.user-settings--attribute {
  display: flex;
  padding: 0 6px;
  justify-content: flex-start;
  align-items: center;
}

.--attribute-icon {
  font-size: 1.2rem;
}

.--attribute-text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.menu-icon {
  font-size: 22px;
}

.menu-icon-container {
  position: relative;
}

.menu-icon-small {
  font-size: 14px;
  position: absolute;
  right: -10px;
  top: 16px;
}

.menu-label {
  position: absolute;
  left: 50px;
}

.--solicitari-number {
  padding: 0px 2px 1px 2px;
  color: whitesmoke;
  border-radius: 8px 8px 8px 0px;
  border: 2px solid transparent;

  font-size: 11px;
  background-color: #D72C25;
  background-clip: padding-box;

  position: absolute;
  top: -5px;

  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
}

.--active-menu .--solicitari-number {
  border: 2px solid transparent;
}

hr.user-settings--separator {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(37, 170, 169, 1);
}

button.manage-user {
  border-radius: 16px;
  color: darkslategray;
  background-color: rgba(79, 183, 183, .9);
  border: 1px solid rgba(37, 170, 169, 1);
  outline: none;
}

button.manage-user:hover {
  color: #009500;
}

button.sign-out {
  border-radius: 16px;
  color: darkslategray;
  background-color: rgba(79, 183, 183, .9);
  border: 1px solid rgba(37, 170, 169, 1);
  outline: none;
}

button.sign-out:hover {
  color: #D72C25;
}

/* Component views */
.view {
  height: 90vh;
}

.view > div {
  animation: fadeIn .2s linear;
  transform-origin: left;
}

.view--separator {
  animation: fadeInFromLeft .4s ease-in;
  transform-origin: left;
}

@keyframes fadeInFromLeft {
  0% {
    border-color: darkslategray;
    transform: scaleX(.0);
  }
  100% {
    border-color: #25AAA9;
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
     opacity: .0;
     transform: scale(.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.view-user-settings {
  font-size: 18px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.-inline {
  display: inline;
}

.--settings-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(37, 170, 169, 1);
  border-radius: 4px;
  margin-bottom: 2vh;
  width: 470px;
  height: 44px;
  position: relative;
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
  padding-left: 3px;
}

.--settings-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.--settings-form > span {
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
  font-size: 18px;
}

input[type='text'].--settings-value,
input[type='password'].--settings-value,
.--settings-value {
  outline: none !important;
  border: none;
  display: flex;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  font-size: 18px;
  align-items: center;
  position: absolute;
  left: 112px;
  outline: none;
  width: 355px;
  height: 40px;
  padding: 4px;
  background-color: #9fd9d9;
  color: darkslategray;
}

.--value-editing {
  outline: none;
  border: none;
  text-decoration: none;
  color: #009500 !important;
}

input[type='text'].--value-editing:focus,
input[type='password'].--value-editing:focus,
.--value-editing:focus {
  border: 1px #009500 inset;
  border-radius: 4px;
}

.--settings-edit {
  position: absolute;
  left: 480px;
  font-size: 36px;
  transition: all .2s linear;
}

.--editing {
  animation: editing .6s infinite alternate;
}

.--settings-edit:hover {
  color: #009500;
}

.--settings-parola {
  padding-right: 40px !important;
}

.--settings-parola-icon {
  position: absolute;
  left: 432px;
  z-index: 4;
  font-size: 24px !important;
  color: darkslategray !important;
  transition: color .1s linear;
  cursor: pointer;
}

.--settings-parola-icon:hover {
  color: #009500 !important;
}

.--parola-is-visible {
  visibility: visible;
}

.--parola-is-invisible {
  visibility: hidden;
}

.--settings-loading {
  position: absolute;
  left: 540px;
  /*transition: all .3s linear;*/
}

.--settings-loading > img {
  width: 36px !important;
  height: 36px !important;
}

/*
.--settings-loading > img::selection {
  background: transparent;
}
*/

hr.view--separator,
hr.view--separator-normal {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: rgba(37, 170, 169, 1);
  margin-block-start: 1px;
  margin-block-end: 1px;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
  width: 100%;
  cursor: default;
  transition: all .4s ease-in;
}

/* React Select customization via CSS classes */
div[class^='sel-'] {
  position: absolute;
  left: 112px;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  width: 355px;
  color: #009500;
  font-size: 18px;
  border: none;
}

div[class^='sel-'] > * {
  /*background-color:  rgb(37, 170, 169);*/
  background-color: #9fd9d9;
  border: none;
}

.sel__container > div[class$='-control'] {
  border: 1px #009500 inset !important;
  box-shadow: none;
}

.sel__control--is-focused {
  border: 1px #009500 inset !important;
  box-shadow: none !important;
}

.sel--is-disabled > div[class$='-control'] {
  border: none !important;
  box-shadow: none !important;
}

.sel__single-value {
  color: #009500 !important;
  margin-left: -4px !important;
}

.sel__single-value--is-disabled {
  color: darkslategray !important;
}

.sel__menu * {
  color: darkslategray !important;
}

.sel__placeholder {
  color: #009500 !important;
  margin-left: -4px !important;
}

.sel__input {
  margin: 0 0 0 -4px !important;
}

.sel__indicator {
  transition: all .2s linear;
  color: darkslategray !important;
}

.sel__indicator-separator {
  background-color: rgba(37, 170, 169, 1) !important;
}

.sel__indicator:hover {
  color: #009500 !important;
}

/* Administrare */

.create-hotel {
  display: flex;
  align-items: center;
  height: 82vh;
}

.--hotel-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.--settings-input > span {
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
  font-size: 18px;
}

.hotel-form-container {
  font-size: 18px;
  /*height: 80vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.create-hotel-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: fit-content;
}

.create-hotel-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  font-family: 'Source Sans Pro Regular';
}

.view-update-hotel {
  font-size: 18px;
}

.view-update-hotel-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.--hidden-menu {
  visibility: hidden;
}

input.--value-editing--adm{
  border: 1px #009500 inset;
  border-radius: 4px;
  color: darkslategray !important;
}

input[class*='--value-editing-adm']::placeholder {
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif;
  color: lightslategray;
}


/* React Select customization */
div[class^='selhc-'] {
  position: absolute;
  left: 112px;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  width: 355px;
  color: darkslategray;
  font-size: 18px;
  border: none;
}

div[class^='selhc-'] > * {
  /*background-color:  rgb(37, 170, 169);*/
  background-color: #9fd9d9;
  border: none;
}

.selhc__container > div[class$='-control'] {
  border: 1px #009500 inset !important;
  box-shadow: none;
}

div[class^='selhc__control'] {
  border: 1px #009500 inset !important;
  box-shadow: none !important;
}

.selhc--is-disabled > div[class$='-control'] {
  border: 1px #009500 inset !important;
  box-shadow: none !important;
}

.selhc__single-value {
  color: darkslategray !important;
  margin-left: -4px !important;
}

.selhc__menu * {
  color: darkslategray !important;
}

.selhc__input {
  margin: 0 0 0 -4px !important;
}

/* !!! all react select input wrapper divs !!! */
div[class*='-Input'] {
  margin: 0 !important;
}

.selhc__placeholder {
  margin-left: -4px !important;
}

.selhc__indicator {
  transition: all .2s linear;
  color: darkslategray !important;
}

.selhc__indicator-separator {
  background-color: rgba(37, 170, 169, 1) !important;
}

.selhc__indicator:hover {
  color: #009500 !important;
}

button.--create-hotel-btn {
  border: 1px darkslategray outset;
  border-radius: 16px;
  /*background-color: #9fd9d9;*/
  background-color: rgba(79, 183, 183, .5);
  color: darkslategray;
  margin-left: 150px;
  font-size: 18px;
}

button.--create-hotel-btn:hover {
  color: #009500;
}

.hotel-tippy-content {
  /*
  position: absolute;
  left: 390px;
  width: max-content;
  */
}

.--hotel-loading {
  margin: 8px auto;
}

.--hotel-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(37, 170, 169, 1);
  margin-bottom: 2vh;
  width: 470px;
  height: 44px;
  position: relative;
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
}

.create-hotel-info {
  font-size: 18px;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif ;
  color: darkslategray;
  text-align: center;
}

.--todo-icon {
  font-size: 50px;
  color: #D72C25;
  margin: 4px;
}

.--done-icon {
  font-size: 50px;
  color: #009500;
  margin: 4px;
}

.--hotel-info-highlight {
  color: #009500;
}

.--mock {
  min-width: fit-content;
  width: 50%;
  margin: 4px auto;
  color: darkslategray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.--mock-icon {
  font-size: 16px;
  margin: 2px;
  color: darkgreen;
}

/*
.create-hotel-info::selection {
  background-color: transparent !important;
}
*/

/* Hotel overview */

.hotel-overview {
  font-size: 18px;
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80vh; /*adjust?*/
  width: 100%;
}

.--overview-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 30px;
  width: 100%;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif !important;
  font-size: 18px;
  margin: 4px 0px;
}

.--icon-wrapper {
  width: fit-content;
}

.--icon-wrapper > svg {
  fill: darkslategray;
  height: 32px;
  width: 32px;
  transition: fill .2s linear;
}

.--overview-icon {
  font-size: 22px;
  margin: 2px auto;
}

.--overview-posr {
  position: relative;
  cursor: pointer;
  transition: color .2s linear;
  width: 24.9%;
  margin: 2px .08%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  transition: all .2s linear;

  
  position:relative; 
}

.--overview-posr:hover {
  color: rgba(0, 149, 0, .7);
  /*border-bottom: 1px solid rgba(0, 149, 0, .1);*/
}

.--overview-posr:after{
  position:absolute;
  bottom: 0;
  left: 50%;
  bottom: -1px;
  height:0px;
  padding: 0;
  margin: 0;
  border: 0;
  width: 0%;
  border-bottom: 1px solid rgba(0, 149, 0, .7);
  display:block;
  content: '';
  transition: all 0.2s linear;
}

.--overview-posr:hover:after{
  left: 0;
  width: 100%;
  background-color:rgba(0, 149, 0, .1);
}

.--overview-posr:hover svg {
  fill: rgba(0, 149, 0, .7);
}

.--overview-active-menu {
  color: #009500;
  /*border-bottom: 1px solid rgba(0, 149, 0, 1);*/
}

.--overview-active-menu:after {
  left:0;
  width: 100%;
  background-color: #009500;
  /*border-bottom: 1px solid rgba(0, 149, 0, 1);*/
}

.--overview-active-menu svg {
  fill: #009500;
}

.--overview-posd {
  margin: 0 4px;
}

.--overview-component-container {
  height: 100%;
  width: 100%;
}
.hotel-settings-update {
  height: 100%;
  margin-top: 100px;
}

/* Rapoarte */

.rapoarte-overview {
  font-size: 18px;
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80vh; /*adjust?*/
  width: 100%;
}

/* zilnic */

table.--zilnic-table {
  width: 100%;
  margin: 4px;
  height: 100%;
}

.--zilnic-table:focus{
  outline: none;
}

 /* table scroll */
.--zilnic-table tbody {
  scroll-behavior: smooth;
  overflow-y: auto;
  height: calc(100% - 55px);
}

.--zilnic-tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  /*background-color: rgba(79, 183, 183, .9);*/
  background-color: transparent;
}

.--zilnic-tbody::-webkit-scrollbar {
  width: 10px;
  background-color: #9fd9d9;
}

.--zilnic-tbody::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  /*background-color: #009300;*/
  background-image: linear-gradient(rgba(79, 183, 183, .9), rgba(0, 147, 0, .7), rgba(79, 183, 183, .9));
}
/**/

.--zilnic-table tbody,
.--zilnic-table thead { /*tr also*/
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*width: 100%;*/
}

.--zilnic-table tr {
  width: 100%;
  border: 1px solid #25AAA9;
}

.--zilnic-table td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*width: 100%;*/
  background-color: #00950044;
}

.--zilnic-table thead,
.--zilnic-table tfoot {

}

table.--zilnic-table {
  border: 1px solid #25AAA9;
}

.--zilnic-table tr {
  border-bottom: 1px solid #25AAA9;
}

.--zilnic-table tfoot {
  /*height: 30px;*/
  border-top: 1px solid #25AAA9;
}

.--zilnic-table tfoot > tr {
  border-bottom: none;
}
 
.--zilnic-table,
.--zilnic-table th,
.--zilnic-table tr,
.--zilnic-table td {
  border-collapse: collapse;
  /*border: 1px solid #25AAA9;*/
  text-align: center;
}

.--zilnic-table th {
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  font-size: 18px;
}

.--zilnic-table tr,
.--zilnic-table td {
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif;
  font-size: 16px;
}

.--zilnic-th {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 /* border: 1px solid #25AAA9;*/
}

.--zilnic-right-arrow {
  font-size: 30px;
  cursor: pointer;
  transition: color .2s linear;
  position: absolute;
  right: 30%;
}

.--zilnic-right-arrow:hover {
  color: #009500;
}

.--zilnic-left-arrow {
  font-size: 30px;
  cursor: pointer;
  transition: color .2s linear;
  position: absolute;
  left: 30%;
}

.--zilnic-left-arrow:hover {
  color: #009500;
}

.--arrow-disabled {
  color: lightslategray !important;
  cursor: default;
}

.raport-zilnic-container,
.zilnic-table-container {
  height: 100%;
}

.--zilnic-tbody {
  height: 70vh;
}

/* Forgot */

.Form, .Form-forgot, .--zoom-in {
  transition: transform .3s;
  animation: fadeInZoom .3s linear;
}

.--fade-in-left {
  transition: transform .3s;
  animation: fadeInLeft .3s linear;
}

.--fade-out-right {
  transition: transform .3s;
  animation: fadeOutRight .3s linear;
}

@keyframes fadeInLeft {
  0% {
     opacity: .5;
     transform: translateX(50px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
     opacity: 1;
     transform: translateX(0px);
  }
  100% {
     opacity: 0;
     transform: translateX(-50px);
  }
}

@keyframes fadeInZoom {
  0% {
     opacity: 0;
     transform: scale(.95);/*translateY(-5px);*/
  }
  100% {
     opacity: 1;
     transform: scale(1);/*translateY(0);*/
  }
}

.countdown {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 20px;

  position: absolute;
  right: 22px;
  top: -8px;
}

.seconds {
  width: fit-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  position: relative;
  animation: fadeInZoom2 .5s ease-in;
}

.seconds-fill {
  position: absolute;
  color: #D72C25;
  left: 0;
  overflow: hidden;
  width: 0%;
  z-index: 1;
}

.warned {
  animation: warned .75s infinite alternate !important;
  transform-origin: bottom;
}

@keyframes fadeInZoom2 {
  0% {
     opacity: 0;
     transform: scale(.1);
  }
  100% {
     opacity: 1;
     transform: scale(1);
  }
}

@keyframes warned {
  0% {
     transform: scale(.9);
  }
  100% {
     transform: scale(1.1);
  }
}


.stopwatch {
  font-size: 20px;
  display: inline;
  position: absolute;
  right: 80px;
  top: 5px;
  transition: all .5s ease-in; 
  animation: rotateIn .5s ease-in;
}

@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(.1);
  } to {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}

.--reset-message {
  text-align: center;
  margin: 10px 2px;
  display: flex;
  justify-content: center;
}

.--message-content {
  width: fit-content;
  border-radius: 8px;
  padding: 4px;
}

.--reset-user {
  color: lime;
  background-color: #3377AA;;
  border-radius: 8px;
}

.--succeeded {
  border: 1px solid darkslategray;
  background-color: #3377AA;
  color: whitesmoke;
  cursor: default;
}

.--failed {
  border: 1px solid darkslategray;
  background-color: #D72C25;
  color: whitesmoke;
  cursor: default;
}

/* Categorii Confort */
.view-confort-categories {
  font-size: 18px;
  height: 76vh;
  display: flex;
  flex-direction: column;
  /*
  justify-content: center;
  align-content: center;
  */
}

 /* categorii scroll */

.confort-categories {
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100%;
  width: 700px;
  margin-top: 25px;
  unicode-bidi: bidi-override;
  direction: rtl;
  position: relative;
}

.confort-categories-inside {
  direction: ltr;
  position: absolute;
  width: 350px;
  right: 320px;
}

.confort-categories::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  /*background-color: rgba(79, 183, 183, .9);*/
  background-color: transparent;
}

.confort-categories::-webkit-scrollbar {
  width: 10px;
  background-color: #9fd9d9;
}

.confort-categories::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  /*background-color: #009300;*/
  background-image: linear-gradient(rgba(79, 183, 183, .9), rgba(0, 147, 0, .7), rgba(79, 183, 183, .9));
}
/**/

.--confort-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.--confort-form > span {
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
  font-size: 18px;
}

.--confort-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(37, 170, 169, 1);
  border-radius: 4px;
  margin-bottom: 2vh;
  width: 300px;
  height: 45px;
  position: relative;
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
  padding-left: 3px;
}

.--confort-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin-top: 8px;
  position: relative;
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
}

.--add-icon {
  font-size: 36px;
  cursor: pointer;
  transition: all .2s linear;
}

.--add-icon:hover {
  color: #009500;
}

.--add-disabled {
  color: slategray;
  cursor: not-allowed;
}

.--add-disabled:hover {
  color: slategray;
}

input[type='text'].--confort-value {
  outline: none !important;
  border: none;
  display: flex;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  font-size: 18px;
  align-items: center;
  position: absolute;
  left: 140px;
  width: 157px;
  height: 41px;
  padding: 2px 2px 2px 4px;
  background-color: #9fd9d9;
  color: lightslategray;

  border: 1px solid lightslategray;
  border-radius: 4px;
}

input[type='text'].--confort-value:disabled {
  border: none;
  color: darkslategray;
}

input[type='text'].--confort-value:focus {
  color: #009500;
  border: 1px #009500 inset;
  border-radius: 4px;
}

.--confort-icons,
.--confort-icons-editing,
.--icons-editing {
  transition: all .2s linear;
}

.--edit-icon  {
  font-size: 36px;
  cursor: pointer;
  transition: color .2s linear;
  position: absolute;
  right: -45px !important;
  top: 3px !important;
}

.--save-icon  {
  font-size: 20px;
  cursor: pointer;
  transition: color .2s linear;
  position: absolute;
  right: -24px;
  top: 1px;
  z-index: 9999;
}

.--delete-icon {
  font-size: 18px;
  cursor: pointer;
  transition: color .2s linear;
  position: absolute;
  right: -23px;
  top: 26px;
  z-index: 9999;
}

.--cancel-icon {
  font-size: 20px;
  cursor: pointer;
  transition: color .2s linear;
  position: absolute;
  right: -50px;
  top: 1px;
}

.--confort-loading {
  position: absolute;
  right: -76px;
  /*transition: all .3s linear;*/
}

.--edit-icon:hover {
  color: #009500;
}

.--save-icon:hover {
  color: #009500;
}

.--delete-icon:hover {
  color: #D72C25;
}

.--cancel-icon:hover {
  color: slategray;
}

.--editing-hint {

}

.--hint-caret {
  font-size: 16px;
}


/* Spatii */

.--spatiu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(37, 170, 169, 1);
  border-radius: 4px;
  margin-bottom: 2vh;
  width: 300px;
  height: 150px;
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
  padding-left: 3px;
  position: relative;
}

.--spatiu-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  height: 150px;
}

.--spatiu-form span {
  font-family: 'Source Sans Pro Regular', Verdana, sans-serif ;
  font-size: 18px;
}

.--spatiu-denumire {
  width: 292px;
  height: 41px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input[type='text'].--denumire-text {
  outline: none !important;
  border: none;
  display: inline;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  font-size: 18px;
  width: 157px;
  height: 41px;
  padding: 2px 2px 2px 4px;
  background-color: #9fd9d9;
  color: lightslategray;

  border: 1px solid lightslategray;
  border-radius: 4px;
}

input[type='text'].--denumire-text:disabled {
  border: none;
  color: darkslategray;
}

input[type='text'].--denumire-text:focus {
  color: #009500;
  border: 1px #009500 inset;
  border-radius: 4px;
}

.--spatiu-detalii {
  width: 292px;
  height: 90px;
  margin: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

textarea.--detalii-text {
  outline: none !important;
  border: none;
  display: inline;
  font-family: 'Source Sans Pro Bold', Verdana, sans-serif;
  font-size: 18px;

  width: 157px;
  height: 90px;
  background-color: #9fd9d9;
  color: lightslategray;

  border: 1px solid lightslategray;
  border-radius: 4px;
  resize: none;
  overflow-y: auto;
}

textarea.--detalii-text:disabled {
  border: none;
  color: darkslategray;
}

textarea.--detalii-text:focus {
  color: #009500;
  border: 1px #009500 inset;
  border-radius: 4px;
}

.--detalii-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 2px;
  /*background-color: rgba(79, 183, 183, .9);*/
  background-color: transparent;
}

.--detalii-text::-webkit-scrollbar {
  width: 4px;
  background-color: #9fd9d9;
}

.--detalii-text::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  /*background-color: #009300;*/
  background-image: linear-gradient(rgba(79, 183, 183, .9), rgba(0, 147, 0, .7), rgba(79, 183, 183, .9));
}


.-edit-icon  {
  font-size: 36px;
  cursor: pointer;
  transition: color .2s linear;
}

.-save-icon  {
  font-size: 20px;
  cursor: pointer;
  transition: color .2s linear;
}

.-delete-icon {
  font-size: 18px;
  cursor: pointer;
  transition: color .2s linear;
}

.-cancel-icon {
  font-size: 20px;
  cursor: pointer;
  transition: color .2s linear;
}

.-spinner-loading {
  /*
  position: absolute;
  right: -76px;
  */
}

.-edit-icon:hover {
  color: #009500;
}

.-save-icon:hover {
  color: #009500;
}

.-delete-icon:hover {
  color: #D72C25;
}

.-cancel-icon:hover {
  color: slategray;
}