* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

label {
  display: block;
}

.Create-account-text {
  font-weight: 900;
  text-decoration: underline red dashed;
  color: darkblue;
  cursor: copy;
}

.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

.Login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
}

.Login-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 5px;
  padding: 4px;
  background-color: deepskyblue;
  color: white;
}

button:hover {
  color: lime;
}

.Auth-button {
  display: flex;
}

.Create-button {
  display: flex;
  background-color: lightcoral;
}

